/* Reset some default styles */

  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tilt Neon', sans-serif;
}

.container {
  color: #EDEDED;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  padding: 10px;
}

form {
  text-align: center;
  margin: 20px 0;
  display: flex;
}

input[type="text"] {
  padding: 10px;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  margin: 0 5px 0 0;
}

button {
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 50%;
  color: black;
  border: none;
  cursor: pointer;
}

.card {
  text-align: center;
  background-color: rgb(84, 84, 86);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card-img-round {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-body {
  margin: 1.5rem 0 0 0;
}

.card-title {
  margin: 10px 0;
}

.card-text {
  margin: 1.2rem 0;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 30px 10px 0;
}

.card-detail p {
  margin: 1px 0;
}

.card-detail p .text {
  font-weight: bold;
}

/* Media Query for Responsiveness */
@media (min-width: 450px) {
  .card-detail {
    flex-direction: row;
  }
}

@media (min-width: 630px) {
  .card {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .card-body {
    margin: 0 0 0 20px;
  }
}